.NavItem {
    margin: auto;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}

.NavItem a {
    text-decoration: none;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    color: salmon;
    border-bottom: 2px solid salmon;
}