.NewRecipe {
    margin: 30px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px #ccc;
    padding: 10px;
}

.NewRecipe input {
    margin: 20px;
    display: block;
}

.NewRecipe textarea {
    width: 95%;
}