.Button {
    margin: auto;
    margin: 10px;
    background: transparent;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.Button:focus {
    outline: none;
}

.Success {
    color: green;
    border: 1px solid green;
}

.Success:hover,
.Success:active {
    color: white;
    background-color: green;
}

.Danger {
    color: red;
    border: 1px solid red;
}

.Danger:hover,
.Danger:active {
    color: white;
    background-color: red;
}

.Button:disabled {
    cursor: not-allowed;
}