.RecipeCard {
    border: 1px solid #ccc;
    box-shadow: 1px 2px #ccc;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    box-sizing: border-box;
}

.RecipeCard h3 {
    cursor: pointer;
}

.RecipeCard Button {
    margin-left: 90%;
    float: right;
}